<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id ="stu" class="com.nit.spring.Student">
        
        <property name ="info">
        <map>
         <entry key="Ramesh" value="100"></entry>
         <entry key="Bibhas" value="200"></entry>
         <entry key="Debitosh" value="300"></entry>
        </map>
</property>
       </bean>
</beans>