<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id ="Student" class="com.nit.spring.Student">
    <property name="subjects">
    <list>
    <value>SpringBoot</value>
    <value>CoreJava</value>
    <value>Advanced java</value>
    </list>
    </property>
    </bean>
</beans>